name: AsciiDoc Documentation Build

on:
  create: # new branches or tags
  release: # new releases
  pull_request: 
    branches: [ master ]
  push: # on push. This may be removed later
  schedule: # periodic - needed because some of the content is from the other repos
    - cron:  '30 5,20 * * *' # this is pretty often. Only needed during review phase

jobs: 
  asciidoctor-build:
    name: Run Asciidoctor on Documentation
    
    runs-on: ubuntu-18.04

    steps:
    # Checkout osi documentation
    - name: Checkout osi-documentation
      uses: actions/checkout@v2
      with:
        submodules: true
        fetch-depth: 0

    # Checkout all other OSI repositories with branch "migration" and nested into osi-documentation
    - name: Checkout open-simulation-interface
      uses: actions/checkout@v2
      with:
        repository: OpenSimulationInterface/open-simulation-interface
        path: open-simulation-interface
        fetch-depth: 0
        

    - name: Checkout OSI Sensor Model Packaging
      uses: actions/checkout@v2
      with:
        repository: OpenSimulationInterface/osi-sensor-model-packaging
        path: osi-sensor-model-packaging

    - name: Checkout proto2cpp
      uses: actions/checkout@v2
      with:
        repository: OpenSimulationInterface/proto2cpp
        path: proto2cpp

    # Versioning
    - name: Get versioning
      id: get_version
      working-directory: open-simulation-interface
      run: echo ::set-output name=VERSION::$(git describe --always)
 

    - name: Apply versioning to Adoc
      uses: jacobtomlinson/gha-find-replace@master
      with: 
        find: ":revnumber: --localbuild--"
        replace: ":revnumber: master (${{ steps.get_version.outputs.VERSION }})"
        include: "index.adoc"

    - name: Remove docdate for online hosted document
      run: sed 's/^:revdate:.*/:!revdate:/' index.adoc
       
    # run Asciidoctor
    - name: Build HTML
      uses: avattathil/asciidoctor-action@master
      with:
        program: "asciidoctor -D . --failure-level WARN -r asciidoctor-diagram -r asciidoctor-bibtex -a mathjax --trace --backend=html5 index.adoc -o open-simulation-interface_V${{ steps.get_version.outputs.VERSION }}.html"

    # Upload artifact. This will change to publishing to gh-pages in the future.
    - name: Upload HTML Artifact
      uses: actions/upload-artifact@v1
      with:
        name: HTML document
        path: open-simulation-interface_V${{ steps.get_version.outputs.VERSION }}.html

    